Repository DeepFriedCyber/Moov-Sonnet4: changes, and which pre-commit hooks are due for each by the changed paths.
All: tsc-frontend, tsc-api, eslint-frontend, eslint-api, test-frontend, test-api, test-ai

tsc-frontend:
  name: TypeScript Frontend Check
  entry: bash -c 'cd property-search-frontend && npx tsc --noEmit'
  language: system
  pass_filenames: false

tsc-api:
  name: TypeScript API Check
  entry: bash -c 'cd property-search-api && npx tsc --noEmit'
  language: system
  pass_filenames: false

eslint-frontend:
  name: ESLint Frontend
  entry: bash -c 'cd property-search-frontend && npx eslint --fix'
  language: system

eslint-api:
  name: ESLint API
  entry: bash -c 'cd property-search-api && npx eslint --fix'
  language: system

test-frontend:
  name: Frontend Tests
  entry: bash -c 'cd property-search-frontend && npm test -- --watchAll=false --passWithNoTests'
  language: system
  pass_filenames: false

test-api:
  name: API Tests
  entry: bash -c 'cd property-search-api && npm test -- --passWithNoTests'
  language: system
  pass_filenames: false

test-ai:
  name: AI Service Tests
  entry: bash -c 'cd property-embedding-service && python -m pytest --tb=short'
  language: system
  pass_filenames: false

fix: Update environment configuration files with correct ports and comprehensive settings
  ENVIRONMENT_SETUP.md
  property-embedding-service/.env.example
  property-search-api/.env.example
  property-search-frontend/.env.local.example
Due: none

fix: Complete database setup system with working scripts and comprehensive migrations
  DATABASE_SETUP.md
  check_db.py
  database_requirements.txt
  property-search-api/migrations/002_add_chat_tables.sql
  property-search-api/migrations/003_add_subscriptions.sql
  setup_database.py
  test_database_scripts.py
  test_neon_connection.py
Due: none

Fix TypeScript error: Add register method to AuthContextType interface
  ENVIRONMENT_STATUS.md
  check_db.py
  check_env_setup.py
  fix_empty_pages.ps1
  package-lock.json
  package.json
  property-search-frontend/package.json
  property-search-frontend/src/app/(auth)/layout.tsx
  property-search-frontend/src/app/(auth)/login/page.tsx
  property-search-frontend/src/app/(auth)/register/page.tsx
  property-search-frontend/src/app/admin/dashboard/page.tsx
  property-search-frontend/src/app/admin/properties/page.tsx
  property-search-frontend/src/app/admin/users/page.tsx
  property-search-frontend/src/app/agent/dashboard/page.tsx
  property-search-frontend/src/app/agent/leads/page.tsx
  property-search-frontend/src/app/agent/listings/page.tsx
  property-search-frontend/src/app/search/page.tsx
  property-search-frontend/src/components/chat/ChatBubble.tsx
  property-search-frontend/src/components/chat/ChatInput.tsx
  property-search-frontend/src/components/common/Header.tsx
  property-search-frontend/src/components/common/Navigation.tsx
  property-search-frontend/src/components/property/PropertyDetails.tsx
  property-search-frontend/src/components/property/PropertyGallery.tsx
  property-search-frontend/src/components/property/PropertyMap.tsx
  property-search-frontend/src/components/search/SearchFilters.tsx
  property-search-frontend/src/components/search/SearchResults.tsx
  property-search-frontend/src/components/ui/button.tsx
  property-search-frontend/src/components/ui/card.tsx
  property-search-frontend/src/components/ui/dialog.tsx
  property-search-frontend/src/components/ui/input.tsx
  property-search-frontend/src/hooks/useAuth.ts
  setup_database.py
  test_database_scripts.py
Due: tsc-frontend, eslint-frontend, test-frontend

Convert homepage to React.createElement and fix Tailwind CSS configuration
  package-lock.json
  package.json
  postcss.config.js
  property-embedding-service/requirements.txt
  property-search-frontend/package.json
  property-search-frontend/postcss.config.js
  property-search-frontend/src/app/globals.css
  property-search-frontend/src/app/page.tsx
  property-search-frontend/src/components/chat/ChatWidget.tsx
  property-search-frontend/tailwind.config.js
  tailwind.config.js
Due: tsc-frontend, eslint-frontend, test-frontend

Add comprehensive Vitest environment configuration tests
  package-lock.json
  property-search-api/package.json
  property-search-api/src/config/env.test.ts
  property-search-api/src/config/env.ts
  property-search-api/tests/vitest.setup.ts
  property-search-api/vitest.config.ts
  property-search-frontend/package.json
  property-search-frontend/src/lib/env.test.ts
  property-search-frontend/src/lib/env.ts
  property-search-frontend/src/test/vitest.setup.ts
  property-search-frontend/vitest.config.ts
Due: tsc-frontend, tsc-api, eslint-frontend, eslint-api, test-frontend, test-api

feat: complete TDD implementation for environment configuration
  package-lock.json
  property-search-api/package.json
  property-search-api/src/config/env.ts
  property-search-api/src/lib/logger.ts
  property-search-api/vitest.config.ts
  property-search-frontend/package.json
  property-search-frontend/src/lib/env.ts
  property-search-frontend/src/test/setup.ts
  property-search-frontend/src/test/vitest.setup.ts
  property-search-frontend/vitest.config.ts
Due: tsc-frontend, tsc-api, eslint-frontend, eslint-api, test-frontend, test-api

feat: complete TDD implementation for error handling infrastructure
  property-search-api/src/lib/errors.test.ts
  property-search-api/src/lib/errors.ts
Due: tsc-api, eslint-api, test-api

feat: complete TDD implementation of rate limiting middleware
  property-search-api/src/middleware/rateLimit.test.ts
  property-search-api/src/middleware/rateLimit.ts
Due: tsc-api, eslint-api, test-api

feat: complete TDD implementation of SearchBar component
  package-lock.json
  property-search-frontend/package.json
  property-search-frontend/src/components/SearchBar.original.tsx
  property-search-frontend/src/components/SearchBar.test.tsx
  property-search-frontend/src/components/SearchBar.tsx
  property-search-frontend/src/test/vitest.setup.ts
Due: tsc-frontend, eslint-frontend, test-frontend

feat: complete REFACTOR phase for SearchBar component
  property-search-frontend/src/components/SearchBar.tsx
Due: tsc-frontend, eslint-frontend, test-frontend

feat: add error handler middleware with comprehensive tests
  property-search-api/src/middleware/error-handler.test.ts
  property-search-api/src/middleware/error-handler.ts
  shared-files/error-handler-middleware.md
Due: tsc-api, eslint-api, test-api

feat: complete REFACTOR phase for Error Handler Middleware
  property-search-api/src/middleware/error-handler.ts
Due: tsc-api, eslint-api, test-api

feat: add semantic search service with failover support
  property-search-api/src/services/__tests__/semantic-search.test.ts
  property-search-api/src/services/semantic-search.ts
Due: tsc-api, eslint-api, test-api

feat: complete GREEN phase - Database Integration with pgvector
  property-search-api/src/lib/__tests__/database.test.ts
  property-search-api/src/lib/database.ts
Due: tsc-api, eslint-api, test-api

feat: complete GREEN phase - Database Integration with pgvector
  package-lock.json
  property-search-api/package.json
  shared-files/database-integration-tdd.md
  shared-files/searchbar-component-tdd.md
  shared-files/semantic-search-tdd.md
Due: none

feat: complete REFACTOR phase - Enhanced Database Architecture
  property-search-api/src/lib/__tests__/database.test.ts
  property-search-api/src/lib/database.original.ts
  property-search-api/src/lib/database.ts
  property-search-api/src/lib/errors/database.errors.ts
  property-search-api/src/lib/interfaces/database.interfaces.ts
  property-search-api/src/lib/schemas/database.schemas.ts
Due: tsc-api, eslint-api, test-api

feat: Complete Enhanced Database Architecture with 100% Test Coverage
  property-search-api/src/lib/__tests__/database.integration.test.ts
  property-search-api/src/lib/config/database.config.ts
  property-search-api/src/lib/factory/database.factory.ts
  property-search-api/src/lib/index.ts
  property-search-api/src/lib/migrations/database.migrations.ts
  property-search-api/src/lib/monitoring/database.monitoring.ts
Due: tsc-api, eslint-api, test-api

docs: Add comprehensive DATABASE_ARCHITECTURE.md documentation
  property-search-api/DATABASE_ARCHITECTURE.md
Due: none

feat(database): implement advanced connection pooling and health checks using TDD
  property-search-api/docs/database-tdd-implementation.md
  property-search-api/src/lib/__tests__/database.pooling.test.ts
  property-search-api/src/lib/database.ts
Due: tsc-api, eslint-api, test-api

docs(analysis): enhance connection pool technical analysis
  shared-files/connection-pool-analysis.md
Due: none

feat: Implement advanced connection pool extensions with auto-scaling and intelligent search
  property-search-api/DEPLOYMENT_CHECKLIST.md
  property-search-api/IMPLEMENTATION_GUIDE.md
  property-search-api/IMPLEMENTATION_SUMMARY.md
  property-search-api/INTEGRATION_STEPS.md
  property-search-api/package.json
  property-search-api/src/__tests__/integration/connection-pool-extensions.test.ts
  property-search-api/src/__tests__/unit/connection-pool-extensions.test.ts
  property-search-api/src/config/__tests__/env.test.ts
  property-search-api/src/config/env.ts
  property-search-api/src/database/PropertyPoolManager.ts
  property-search-api/src/examples/integration-example.ts
  property-search-api/src/middleware/__tests__/rateLimit.test.ts
  property-search-api/src/middleware/poolMetrics.ts
  property-search-api/src/middleware/rateLimit.ts
  property-search-api/src/routes/advancedHealth.ts
  property-search-api/src/server.enhanced.ts
  property-search-api/src/services/MeilisearchService.ts
  property-search-api/src/services/OptimizedPropertyService.ts
  property-search-api/src/services/SearchOrchestrator.ts
  property-search-api/src/services/SemanticSearchService.ts
Due: tsc-api, eslint-api, test-api

feat: Add shared analysis files and frontend env test
  package-lock.json
  property-search-frontend/src/lib/__tests__/env.test.ts
  property-search-frontend/src/lib/env.ts
  shared-files/critical-repo-issues.md
  shared-files/moov-sonnet4-analysis.md
Due: tsc-frontend, eslint-frontend, test-frontend

🚀 Enhanced TDD Property Search Integration - PRODUCTION READY
  DEPLOYMENT_GUIDE.md
  property-embedding-service/src/main_simple_working.py
  property-search-api/.env.example
  property-search-api/migrations/add_embedding_column.sql
  property-search-api/src/app.ts
  property-search-api/src/routes/enhancedSearch.ts
  property-search-api/src/services/embeddingService.ts
  property-search-api/src/services/enhancedPropertySearchService.ts
  property-search-api/test_full_integration.js
Due: tsc-api, eslint-api, test-api, test-ai

feat: Add supporting services and test files
  property-embedding-service/src/services/embedding_cache.py
  property-embedding-service/src/services/query_processor.py
  property-embedding-service/test_simple_no_unicode.py
  property-search-api/test_enhanced_routes.js
  property-search-api/test_integration_simple.js
Due: eslint-api, test-api, test-ai

feat: Implement comprehensive TDD improvements
  property-search-api/src/models/Property.ts
  property-search-api/src/services/cacheService.ts
  property-search-api/src/tests/models/Property.test.ts
  property-search-api/src/validation/propertyValidation.ts
  property-search-api/test_tdd_integration.js
  shared-files/database_tdd_improvements.ts
  shared-files/moov_sonnet4_review.md
Due: tsc-api, eslint-api, test-api

docs: Add comprehensive TDD implementation documentation
  QUICK_TEST_GUIDE.md
  TDD_IMPLEMENTATION_COMPLETE.md
Due: none

🎉 Complete TDD Enhancement Implementation
  property-search-frontend/TDD_FINAL_SUMMARY.md
  property-search-frontend/TDD_IMPLEMENTATION_COMPLETE.md
  property-search-frontend/TDD_WORKFLOW_GUIDE.md
  property-search-frontend/demo-tdd-implementation.js
  property-search-frontend/package.json
  property-search-frontend/src/__tests__/tdd-integration.test.tsx
  property-search-frontend/src/components/PropertySearchPage.enhanced.tsx
  property-search-frontend/src/components/SearchBar.enhanced.tsx
  property-search-frontend/src/components/__tests__/PropertyCard.enhanced.test.tsx
  property-search-frontend/src/components/__tests__/PropertySearchPage.enhanced.test.tsx
  property-search-frontend/src/components/__tests__/SearchBar.enhanced.test.tsx
  property-search-frontend/src/components/__tests__/SearchBarEnhanced.test.tsx
  property-search-frontend/src/hooks/__tests__/useApi.enhanced.test.tsx
  property-search-frontend/src/hooks/__tests__/usePropertySearch.enhanced.test.tsx
  property-search-frontend/src/hooks/__tests__/useSemanticSearch.test.tsx
  property-search-frontend/src/hooks/usePropertySearch.enhanced.ts
  property-search-frontend/src/hooks/useSemanticSearch.ts
  property-search-frontend/src/lib/__tests__/api-error-handling.tdd.test.ts
  property-search-frontend/src/lib/api-error-handling.ts
  property-search-frontend/src/services/__tests__/semanticSearchService.simple.test.ts
  property-search-frontend/src/services/__tests__/semanticSearchService.test.ts
  property-search-frontend/src/services/semanticSearchService.ts
  property-search-frontend/src/utils/__tests__/validation.tdd.test.ts
  property-search-frontend/src/utils/validation.ts
  shared-files/moov_css_config.css
  shared-files/moov_setup_config.json
  shared-files/moov_structured_tdd.ts
Due: tsc-frontend, eslint-frontend, test-frontend

🚀 Production Deployment & Security Implementation
  .env.production.example
  .github/workflows/ci.yml
  .github/workflows/security.yml
  PRODUCTION_DEPLOYMENT.md
  SECURITY_GUIDE.md
  deploy-production.ps1
  deploy-production.sh
  docker-compose.prod.yml
  docker-compose.yml
  property-embedding-service/Dockerfile.prod
  property-search-api/.env.example
  property-search-api/Dockerfile.prod
  property-search-api/LOGGER_INTEGRATION_EXAMPLES.md
  property-search-api/LOGGING_EXAMPLES.md
  property-search-api/RANKING_EXAMPLES.md
  property-search-api/src/config.test.ts
  property-search-api/src/config.ts
  property-search-api/src/services/search/QueryParser.ts
  property-search-api/src/services/search/SemanticSearchService.test.ts
  property-search-api/src/services/search/SemanticSearchService.ts
  property-search-api/src/types/logger.ts
  property-search-frontend/Dockerfile.prod
  property-search-frontend/next.config.js
  test_for_hardcoded_secrets.ps1
  test_for_hardcoded_secrets.sh
  validate_security_implementation.ps1
  validate_security_simple.ps1
Due: tsc-api, eslint-frontend, eslint-api, test-frontend, test-api

🎭 Complete E2E Testing Implementation with TDD Methodology
  .github/workflows/ci.yml
  .gitignore
  E2E_DOCKER_COMPOSE_SETUP.md
  E2E_TDD_IMPLEMENTATION_FINAL.md
  E2E_TESTING_IMPLEMENTATION_COMPLETE.md
  WORKFLOW_INTEGRATION_COMPLETE.md
  docker-compose.e2e.yml
  package.json
  property-search-frontend/Dockerfile
  property-search-frontend/package.json
  property-search-frontend/playwright.config.ts
  property-search-frontend/scripts/setup-e2e.js
  property-search-frontend/tests/e2e/README.md
  property-search-frontend/tests/e2e/api-integration.spec.ts
  property-search-frontend/tests/e2e/comprehensive-flow.spec.ts
  property-search-frontend/tests/e2e/homepage.spec.ts
  property-search-frontend/tests/e2e/search-results.spec.ts
  property-search-frontend/tests/e2e/search.spec.ts
  property-search-frontend/tests/e2e/utils/test-helpers.ts
  scripts/test-e2e-docker.ps1
  scripts/test-e2e-docker.sh
  scripts/validate-workflow.js
Due: tsc-frontend, eslint-frontend, test-frontend

🔧 Add comprehensive E2E debugging and troubleshooting tools
  .github/workflows/ci.yml
  E2E_TROUBLESHOOTING_GUIDE.md
  docker-compose.e2e.yml
  package.json
  property-search-frontend/Dockerfile
  scripts/debug-e2e-docker.ps1
  scripts/debug-e2e-docker.sh
Due: none

🔧 Fix critical E2E Docker issues - Add missing Dockerfiles
  property-embedding-service/Dockerfile
  property-embedding-service/requirements.txt
  property-search-api/Dockerfile
Due: none

🔧 Fix Docker build issues - Use npm install instead of npm ci
  docker-compose.e2e.yml
  property-search-api/Dockerfile
  property-search-frontend/Dockerfile
Due: none

🔧 Fix E2E port conflicts and update configurations
  docker-compose.e2e.yml
  property-search-frontend/playwright.config.ts
  scripts/debug-e2e-docker.sh
  scripts/quick-e2e-check.sh
Due: tsc-frontend, eslint-frontend, test-frontend

🔧 Fix PropertyPoolConfig and DatabaseConfig compatibility issues
  property-search-api/.dockerignore
  property-search-api/package.json
  property-search-api/src/__tests__/database/indexManagement.test.ts
  property-search-api/src/__tests__/database/indexPerformance.test.ts
  property-search-api/src/__tests__/database/queryOptimization.test.ts
  property-search-api/src/__tests__/integration/connection-pool-extensions.test.ts
  property-search-api/src/__tests__/performance/databasePerformance.test.ts
  property-search-api/src/__tests__/unit/connection-pool-extensions.test.ts
  property-search-api/src/examples/integration-example.ts
  property-search-api/src/server.enhanced.ts
  property-search-api/tsconfig.json
Due: tsc-api, eslint-api, test-api

Path conditions:
  tsc-frontend: any of: ^property-search-frontend/.*\.(ts|tsx)$
  tsc-api: any of: ^property-search-api/.*\.ts$
  eslint-frontend: any of: ^property-search-frontend/.*\.(js|ts|tsx)$
  eslint-api: any of: ^property-search-api/.*\.(js|ts)$
  test-frontend: any of: ^property-search-frontend/.*\.(js|ts|tsx)$
  test-api: any of: ^property-search-api/.*\.(js|ts)$
  test-ai: any of: ^property-embedding-service/.*\.py$
